body {
    margin: 0;
    padding: 0;
    font-family: "Arial", "sans-serif";
    background: #f8f9fa;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

#main-header {
    font-size: 1.7em;
    font-weight: bold;
}

.site-footer {
    padding: 10px 0;
}

.copyright {
    font-family: Terminal;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
}

.last {
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.redtext {
    color: #ff0000;
}

.product-detail {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    padding: 20px;
}

.product-price {
    font-weight: bold;
    text-decoration:underline;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-info {
    flex: 1.5;
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .product-image,
    .product-info {
        flex: 1;
        text-align: center;
        padding: 10px;
    }
}
.table_design08 {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    max-width: 700px;
    text-align: center;
  }
  .table_design08 th, .table_design08 td {
    border: 2px solid #d2e8f1;
    padding: 1em;
  }
  .table_design08 thead th {
    background-color: #4d9bc1;
    color: #fff;
    border: 2px solid #4d9bc1;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  .table_design08 thead th:last-of-type {
    border-right: 2px solid #4d9bc1;
  }
  .table_design08 tbody th {
    color: #4d9bc1;
    font-weight: bold;
    text-align: center;
  }
  @media screen and (max-width: 787px) {
    .table_design08 {
      text-align: left;
    }
    .table_design08 thead {
      display:none;
    }
    .table_design08 th, .table_design08 td {
      display: block;
      border: 0;
      border-bottom: 2px solid #e6f1f6;
    }
    .table_design08 tbody th{
      background: #4d9bc1;
      color:#fff;
    }
    .table_design08 td::before{
      content: attr(data-label);
      color: #4d9bc1;
      font-weight: bold;
      display: inline-block;
      width: 20%;
      min-width: 4em;
    }
  }
