body {
    margin: 0;
    padding: 0;
    font-family: "Arial", "sans-serif";
    background: #f8f9fa;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

#main-header {
    font-size: 1.7em;
    font-weight: bold;
}

.site-footer {
    padding: 10px 0;
}

.copyright {
    font-family: Terminal;
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
}

.last {
    color: rgb(0, 0, 0);
    font-size: 12px;
}

.redtext {
    color: #ff0000;
}

.product-detail {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    padding: 20px;
}
.product-price {
    font-weight: bold;
    text-decoration:underline;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-info {
    flex: 1.5;
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    .product-detail {
        flex-direction: column;
        align-items: center;
    }

    .product-image,
    .product-info {
        flex: 1;
        text-align: center;
        padding: 10px;
    }
}
.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.review p {
    margin: 5px 0;
}

.review p:first-child {
    font-weight: bold;
}

.review p:nth-child(2) {
    color: #999;
}

.review p:last-child {
    margin-bottom: 0;
}

.star-rating {
    color: #FFD700;
}
